{{define "page:title"}}Home page{{end}}

{{define "page:main"}}
    <h1 class="text-3xl font-bold">Welcome to the battery management home page!</h1>
    <a href="/newbattery">Create new battery</a>
{{end}}
